{{> header }}




<div class="container "  style="height: 100%;">







<br>



            <div class="row ">
                <div class="col s12 m12 ">
                    <div class="card-panel blue-grey lighten-3">
                    <div class="row">
                        <div class="col s4 center">
                            <div class="row">
                                <h5>POSTS</h5>
                            </div>
                            <div class="row"><h4>{{data.info.postno}}</h4></div>
                        </div>
                        <div class="col s4 center">
                            <div class="row">
                            <h5>FOLLOWERS</h5>
                        </div>
                            <div class="row"><h4>{{data.info.followers}}</h4></div>

                        </div>
                        <div class="col s4 center">
                            <div class="row">
                            <h5>FOLLOWING</h5>
                        </div>
                            <div class="row"><h4>{{data.info.followings}}</h4></div>

                        </div>
                    </div>
                    </span>
                    </div>
                </div>
                {{#if data.id}}
                    {{#if data.alreadyfollow}}
                            <div class="right">
                                <a href="/unfollow/{{data.id}}"class="waves-effect red waves-light btn-large">Unfollow</a>
                            </div>
                        {{else}}
                    <div class="right">
                    <a href="/follow/{{data.id}}"class="waves-effect red waves-light btn-large">Follow</a>
                    </div>
                    {{/if}}
                {{/if}}
            </div>



    <h3 class="center grey-text">POSTS</h3>

<div class="row">
{{#unless data.id}}

<div class="col s8 m6 offset-s2 offset-m3 grey-text">
    <ul class="collection with-header">
        <li class="collection-header center"><h4>Your info</h4></li>
        <li class="collection-item">Id No : {{data.userinfo.id}}</li>

        <li class="collection-item">Name : {{data.userinfo.name}}</li>
        <li class="collection-item">Email : {{data.userinfo.email}}</li>
    </ul>

</div>


{{/unless}}
</div>







{{#each data.userblogs}}






    <div class="row ">
        <div class="col s12 m10 offset-m1  ">
            <div class="card " style="min-height: 500px;">
                <div class="card-content ">

                    <table>
                        <tr class="card-title teal-text medium" >
                            <td>
                                <i class="material-icons medium">account_circle</i>
                            </td>
                            <td style="padding-bottom: 35px">

                                <strong>{{../data.info.name}}</strong>
                            </td>
                        </tr>
                    </table>



                    <br>

                    <div style="min-height: 300px;">


                        {{{this.content}}}


                    </div>

                </div>
                <div class="card-action">
                    <div class="right-align ">
                        <small>
                        {{this.created_at}}
                        </small>

                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}










</div>



{{> footer-end }}